# DEV #
#######
.svn
.htaccess

# IDE #
#######
.idea/
.idea/vcs.xml
.vscode/

# OS #
######
*/.DS_Store
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini
*.log

# Composer #
############
composer.lock

# Other #
#########
assets/client_secret.json

# vendor #
##########
vendor/bin/
vendor/composer/autoload_files.php
vendor/dealerdirect/
vendor/php-stubs/
vendor/phpcompatibility/
vendor/phpcsstandards/
vendor/phpstan/
vendor/rarst/
vendor/squizlabs/
vendor/wp-coding-standards/
vendor/slevomat/